*{
  margin: 0;
  padding: 0;
}
.conteiner {
    width: 1000px;
    margin: 0 auto;

}
.wrapper-carousel {
    margin: 0 auto;
    padding-top: 100px;
    width: 1000px;
}
.carousel-img {
    height: 160px;
    overflow: hidden;
}
.owl-nav {
    display: flex;
    justify-content: space-between;
}
.wrapper-select {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}
.select-box {
  margin: 0 20px;
}
.select-option {
  padding: 10px 20px;
}
